/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Arima', sans-serif;
}
body{
  min-height: 100vh;
}
nav{
  top: 0;
  left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin: 30px 10px 25px 10px;
  color: #000000;
   box-shadow: 0 10px 15px rgba(0,0,0,.3);
   border-radius: 10px;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inp
{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inp input{
  width: 100%;
  padding: 10px;
  border-radius:  5px 0px 0px 5px;
  color: #000000;
  outline: none;
  font-weight: 800;
  letter-spacing: 1px;
  border: #000000 2px solid;
  background-color: transparent;
  font-size: 16px;
} 
.navbar .logo{
  margin-left: 10px;
}
.navbar .logo a{
  font-size: 30px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
}
.inp i{
  color: #ffffff;
}
.inp button{
  background: #000000;
  padding: 10px;
  border: #000000 2px solid;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.cart
{
  margin-right: 30px;
}
.cart i
{
  color: black;
  font-size: 25px;  
  margin: 0 5px 0 30px;
  vertical-align: top;
  background-color: white;
  top: -8px;
}
.cart span{
  background: #ff0000;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  position: relative;
  top: -10px;
}
